.ui-help__mouse {
			transition-delay: .2625s;
			transition: opacity .7s;
			position: absolute; z-index: 9999;
			bottom: 40px;
			left: 50%; margin-top: -28px;
}

.ui-help__mouse {
			width: 30px;
			height: 56px;
			border: 2px solid #FFF;
			border-radius: 17px;
			box-shadow: 0 0 1px rgba(0,0,0,.4),inset 0 0 1px rgba(0,0,0,.4);
}

.ui-help__mouse__wheel {
		position: absolute;
		left: 50%;
		margin-left: -2px;
		top: 13px;
		width: 4px;
		height: 10px;
		background: #FFF;
		border-radius: 2px;
		-webkit-animation: mouse-wheel 1.25s infinite linear;
		animation: mouse-wheel 1.25s infinite linear;
		-webkit-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		box-shadow: 0 0 1px rgba(0,0,0,.4);
}

/* animation */

@-webkit-keyframes mouse-wheel {
	0% {
	-webkit-transform:scaleY(.4)translateY(0);
	transform:scaleY(.4)translateY(0);
}

20% {
	-webkit-transform:scaleY(1)translateY(0);
	transform:scaleY(1)translateY(0);
}

60% {
	-webkit-transform:scaleY(.4)translateY(12px);
	transform:scaleY(.4)translateY(12px);
}

100% {
	-webkit-transform:scaleY(.4)translateY(0);
	transform:scaleY(.4)translateY(0);
}

}@keyframes mouse-wheel {
	0% {
	-webkit-transform:scaleY(.4)translateY(0);
	transform:scaleY(.4)translateY(0);
}

20% {
	-webkit-transform:scaleY(1)translateY(0);
	transform:scaleY(1)translateY(0);
}

60% {
	-webkit-transform:scaleY(.4)translateY(12px);
	transform:scaleY(.4)translateY(12px);
}

100% {
	-webkit-transform:scaleY(.4)translateY(0);
	transform:scaleY(.4)translateY(0);
}

}