$section-bg-blue: #2db3d9;
$section-bg-yellow-green: #c1bd1c;
$section-bg-gray: #cdc1c5;
$section-bg-orange: #fb8716;
$section-bg-pink: #f56e72;
$section-bg-emerald: #3fb2ab;

$number-font-color: #fff;

$button-font-color: #fff;

$body-font-color: #fff;
