/* colors */
$bg-1: #f8f8f8; //header bg
$bg-2: #3b3d47; //header phone-cabinet container bg // header in mobile version // menu mobile // btn call bid // slider nav btn
$bg-3: #e8e8e9; // calc button 1 // news box bg
$bg-4: #65666e; // calc button 1
$bg-5: #ca5263; // btn calc // btn bid call
$bg-6: #fff; // slider-text-box
$bg-7: #a23b4a; // slider nav btn // scheme-firft-step-container //  btn bid call hover // 
$bg-8: #f6f7f6; // benefits block // reviews
$bg-9: #fff;// reviews__header
$bg-10: #3b3d47; //footer // methods title
$bg-11: #4f5159;// bid call

$bg-12: #b1011a;// error
$bg-13: #00972b;// error

$bg-14: #3b3d47;

$bg-15: #7b7c87;
$bg-16: #e7e7e9;

$bg-17: #faedef; //ivest


$f-1: #7e7f88; //header menu
$f-2: #61636b; //calc button
$f-3: #fbfbfb; //calc button active
$f-4: #fff; //header number
$f-5: #fff; //header cabinet // header menu font mobile
$f-6: #fff; //calculator // cheme title
$f-7: rgba(255,255,255,0.5); // tabs in calculator
$f-8: rgba(255,255,255,1); // tabs in calculator
$f-9: #fff; // btn calc font
$f-10: #fff; // btn bid call
$f-11: #3b3d47; // slider-text-box font // titles blocks // benefits
$f-12: #3b3d47; // reviews header
$f-13: #929397; // footer
$f-14: #fff; // footer headers
$f-15: #ca5263;
$f-16: #98989c; // linl admin window
$f-17: #464d52; // about us text p
$f-18: #a23b4a; // about us text title
$f-19: #3b3d47; // text loans
$f-20: #b1b1b4;
$f-21: #474953;
$f-22: #9c9da1;
$f-23: #bdbdbf;
$f-24: #7a7b7d;

